footer
  nav
    ul.links
      li
        a(href='http://www.github.com/ruslanskorb') Github
      li
        a(href='http://www.linkedin.com/in/ruslanskorb') LinkedIn
      li
        a(href='http://www.twitter.com/ruslanskorb') Twitter
      li
        a(href='http://www.facebook.com/ruslansk0rb') Facebook
      li
        a(href='http://www.google.com/+RuslanSkorb') Google+
      li
        a(href='mailto:ruslan.skorb@gmail.com?subject=Hello%20Ruslan!&body=Hey%20Ruslan,%20') Say hi
    .message Made with ❤ in Belarus