section#about
  h2.title About
  img.profile(src="/images/profileRot.jpg" alt="Ruslan Skorb")
  p.longBio
    em Hello there!
    |  I'm Ruslan Skorb, an idea man, an entrepreneur and an applied scientist. I'm love making beautiful user experiences and always looking to improve and learn new technologies, by building top quality code.
    br
