section#about
  h2.title About
  img.profile(src="/images/profileRot.jpg" alt="Ruslan Skorb")
  p.longBio
    em Hello there!
    |  I'm Ruslan Skorb, an idea man,
    = ' '
    a(href='https://en.wikipedia.org/wiki/Life_hacking') lifehacker
    | , and iOS developer currently working at 
    = ' '
    a(href='http://kidmastermind.com/') KidMastermind
    | . I'm always looking to improve and learn new technologies,
    | by building top quality code.
    br
