section#experience
  h2.title Experience
  ol.experienceList
    li
      .iconArea
        include /includes/icons/rsk-lab
      .descriptionArea
        .titleBar
          h5.title R.SK Lab - Founder / CEO / Software Architect
          h6.dateRange Jul 2017 - Present
        p.description
        | Developing the following projects:
        ul.descriptionBullets
          li
            a(href='https://itunes.apple.com/us/app/rsk-lab/1439802667?mt=8') R[SK]
            |  - Learn and build with experts.
          li
            a(href='https://twitter.com/rsklab') R.SK Lab micro-blog
            |  - Micro-blog about Apple software development using Swift.
          li
            a(href='https://rsk-lab.com') rsk-lab.com
            |  - Corporate web site for R.SK Lab.
          li
            a The Complete iOS App Development Guidelines
            |  - Exclusive educational material at the lowest price.
          li
            a RSKFoundation
            |  - Access essential data types and classes to define the base layer of functionality for your app.
          li
            a RSKUIKit
            |  - Construct and manage a graphical, event-driven user interface for your iOS or tvOS app.
          li
            a RSKKeyboardObserver
            |  - An object for handling keyboard notifications.
          li
            a RSKLabel
            |  - A light-weight UILabel subclass that adds the ability to get the index of the character falling under the given point.
          li
            a NSAttributedString_RSKSizeThatFits
            |  - A light-weight NSAttributedString extension that adds the method to calculate and return the size that best fits the size with the specified width.
          li
            a UIImage_RSKImageFromColor
            |  - A light-weight UIImage extension that adds methods to create an image from color.
          li
            a UIImage_RSKImageFromGradient
            |  - A light-weight UIImage extension that adds methods to create an image from gradient.
          li
            a(href='https://github.com/rsklab/RSKSharedChannels') RSKSharedChannels
            |  - Share any Slack channel on your workspace to another team's workspace.
          li
            a(href='https://dribbble.com/shots/6120154-R-SK-Lab-Logo') R.SK Lab Logo
            |  - Brand new logo for R.SK Lab.
          li
            a(href='https://dribbble.com/shots/6183194-R-SK-Lab-Business-Card') R.SK Lab Business Card
            |  - Corporate vertical business card for R.SK Lab.
          li
            a(href='https://itunes.apple.com/us/app/ar-snake-game/id1305140729?mt=8') AR Snake Game
            |  - AR game that is worth your attention!
          li
            a hadvisor
            |  - Your personal health advisor.
          li
            a(href='https://dribbble.com/shots/4241214-The-Bloom-fit-app-Debut-Shot') Bloom.fit - Create Balanced Life
            |  - Find balance in your life! Get your life back!
          li
            a(href='https://itunes.apple.com/us/app/f3-cool/id1336087958?mt=8') F3 - Anonymous questions, Chat
            |  - Ask anonymously, photo, video.
          
        span.languages  (Swift, JS, Sketch, Ai)
    li
      .iconArea
        include /includes/icons/mint
      .descriptionArea
        .titleBar
          h5.title Mint - Lead Senior iOS Software Engineer
          h6.dateRange 2015 - Jun 2017
        p.description
        | Developed an iPhone application
        a(href='https://itunes.apple.com/us/app/mint-meet-people-nearby/id1014457637')  Mint: Online Dating App & Chat
        | . Mint is a FREE dating app for chatting and meeting people nearby.
        | <br>
        | Also developed a bunch of in-house libraries and published them for internal release using
        a(href='https://cocoapods.org')  CocoaPods
        | :
        ul.descriptionBullets
          li
            a MINTActionSheet
            |  - an action sheet for iOS with support for custom views.
          li
            a MINTAppearanceKit
            |  - an iOS library that helps you to customize the appearance of your app.
          li
            a MINTAttributedLabel
            |  - a light-weight UILabel subclass that supports data detectors and links.
          li
            a MINTCircularProgressView
            |  - a circular progress view.
          li
            a MINTCollectionViewReorderableTripletLayout
            |  - a MINTCollectionViewTripletLayout subclass that supports reordering of cells.
          li
            a MINTCollectionViewStretchyHeaderLayout
            |  - a concrete layout that organizes items into a grid with an optional stretchable header.
          li
            a MINTCollectionViewTripletLayout
            |  - A concrete layout that organizes items into a triplet with the first large top item.
          li
            a MINTHalo
            |  - an iOS library that provides a CAShapeLayer subclass that represents a
            a(href='https://en.wikipedia.org/wiki/Halo_(optical_phenomenon)')  halo
            |  and pulsing animation for the halo.
          li
            a MINTHierarchySearcher
            |  - a small utility class to go through the view controller hierarchy.
          li
            a MINTInAppPurchase
            |  - a light-weight iOS library for
            a(href='https://support.apple.com/en-us/HT202023')  In-App Purchases.
          li
            a MINTInstagramSDK
            |  - this library allows you to integrate
            a(href='https://www.instagram.com')  Instagram
            |  into your iOS app.
          li
            a MINTLocalization
            |  - a library that helps change app language without changing device language.
          li
            a MINTPageControl
            |  - drop-in replacement for UIPageControl that allows the page indicators to be aligned vertically.
          li
            a MINTPageViewController
            |  - a page view controller that lets the user navigate between pages of content.
          li
            a MINTScrollChief
            |  - a scroll chief that prevent simultaneous scrolling multiple observing scroll views.
          li
            a MINTUnitConversion
            |  - an extremely precise unit conversion library.
          li
            a MINTWeakTimer
            |  - a weak target timer for iOS.
        span.languages  (Objective-C, Swift)
    li
      .iconArea
        include /includes/icons/kidmastermind
      .descriptionArea
        .titleBar
          h5.title KidMastermind - Senior iOS Software Engineer
          h6.dateRange 2013 - 2014
        p.description
        | Developed a parent's application and a set of iPad games for early childhood education, and ported them on Android using
        a(href='http://www.apportable.com')  Apportable
        | :
        ul.descriptionBullets
          li
            a(href='https://itunes.apple.com/us/app/kidmastermind-university-for/id765248884')  KidMastermind University for Parents (v1.x)
            |  - a parent's application that involves parents in their child’s development;
          li
            a(href='https://itunes.apple.com/us/app/color-fruits-learning-colors/id768068068')  Color fruits (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.ColorFruits')  Android)
            |  - teaches differentiation between 3-8 colors;
          li
            a(href='https://itunes.apple.com/us/app/missing-pieces-learning-facial/id768072111')  Missing Pieces (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.FixTheFace')  Android)
            |  - teaches identification of 3-6 body parts;
          li
            a(href='https://itunes.apple.com/us/app/hungry-hungry-critters-differentiation/id768074205')  Hungry Hungry Critters (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.FeedTheAnimals')  Android)
            |  - teaches differentiation of objects by its assignments;
          li
            a(href='https://itunes.apple.com/us/app/kiddy-colored-shapes-learning/id768078680')  Kiddy Colored Shapes (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.ShapesAndColors')  Android)
            |  - teaches primary colors and shapes.
        | Also developed an internal SDK, which is used for the following purposes:
        ul.descriptionBullets
          li
            | interaction with the server API;
          li
            | access to the local database;
          li
            | set a limit on the time of the child's play.
        span.languages  (Objective-C, C++)
    li
      .iconArea
        include /includes/icons/itibo
      .descriptionArea
        .titleBar
          h5.title Itibo - iOS / Android Software Engineer
          h6.dateRange 2011 - 2012
        p.description
        | Developed iPad games such as
        a(href='https://itunes.apple.com/us/app/noteworks-music-theory-note/id546003758')  NoteWorks
        |  and
        a(href='https://itunes.apple.com/us/app/see-hear/id542365972')  See and Hear
        | , an iPhone  application
        a(href='https://itunes.apple.com/us/app/lights-all-night-2012/id582663403')  Lights All Night 2012
        |  and an Android application
        a(href='https://play.google.com/store/apps/details?id=com.azati.quit')  Quit Smoking
        |.
        |</br>
        span.languages  (Objective-C, Java, C++)
