section#experience
  h2.title Experience
  ol.experienceList
    li
      .iconArea
        include /includes/icons/mint
      .descriptionArea
        .titleBar
          h5.title Mint - Lead iOS Developer
          h6.dateRange Mar '15 - Present
        p.description
        | Will be updated soon...
        span.languages  (Objective-C, Swift)
    li
      .iconArea
        include /includes/icons/kidmastermind
      .descriptionArea
        .titleBar
          h5.title KidMastermind - Lead iOS Developer
          h6.dateRange Jan '13 - Feb '15
        p.description
        | Developed parent's application and set of iPad games for early childhood education, and ported them on Android using
        a(href='http://www.apportable.com')  Apportable
        | :
        ul.descriptionBullets
          li
            a(href='https://itunes.apple.com/us/app/kidmastermind-university-for/id765248884')  KidMastermind University for Parents (v1.x)
            |  - parent's application that involves parents in their child’s development;
          li
            a(href='https://itunes.apple.com/us/app/color-fruits-learning-colors/id768068068')  Color fruits (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.ColorFruits')  Android)
            |  - teaches differentiation between 3-8 colors;
          li
            a(href='https://itunes.apple.com/us/app/missing-pieces-learning-facial/id768072111')  Missing Pieces (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.FixTheFace')  Android)
            |  - teaches identification 3-6 body parts;
          li
            a(href='https://itunes.apple.com/us/app/hungry-hungry-critters-differentiation/id768074205')  Hungry Hungry Critters (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.FeedTheAnimals')  Android)
            |  - teaches differentiation of objects by its assignments;
          li
            a(href='https://itunes.apple.com/us/app/kiddy-colored-shapes-learning/id768078680')  Kiddy Colored Shapes (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.ShapesAndColors')  Android)
            |  - teaches primary colors and shapes.
        | Also developed an internal SDK, which is used for the following purposes:
        ul.descriptionBullets
          li
            | interaction with the server API;
          li
            | access to the local database;
          li
            | set a limit on the time of the child's play.
        span.languages  (Objective-C, C++)
    li
      .iconArea
        include /includes/icons/itibo
      .descriptionArea
        .titleBar
          h5.title Itibo - iOS / Android Developer
          h6.dateRange Jan '11 - Jan '13
        p.description
        | Developed iPad games such as
        a(href='https://itunes.apple.com/us/app/noteworks-music-theory-note/id546003758')  NoteWorks
        |  and
        a(href='https://itunes.apple.com/us/app/see-hear/id542365972')  See and Hear
        | , an iPhone  application
        a(href='https://itunes.apple.com/us/app/lights-all-night-2012/id582663403')  Lights All Night 2012
        |  and an Android application
        a(href='https://play.google.com/store/apps/details?id=com.azati.quit')  Quit Smoking
        |.
        span.languages  (Objective-C, Java, C++)
