section#experience
  h2.title Experience
  ol.experienceList
    li
      .iconArea
        include /includes/icons/rsk-lab
      .descriptionArea
        .titleBar
          h5.title R.SK Lab - Founder & CTO
          h6.dateRange Jul 2017 - Present
        p.description
        | Developed following iOS applications:
        ul.descriptionBullets
          li
            a(href='https://itunes.apple.com/us/app/ar-snake-game/id1305140729?mt=8')   AR Snake Game
            |  - AR game that is worth your attention!
          li
            a(href='https://itunes.apple.com/us/app/bloom-fit/id1279250495?mt=8') Bloom.fit
            |  - Health & Fitness app that will bring calm, wellness and balance to your life.
          li
            a(href='https://itunes.apple.com/us/app/f3-cool/id1336087958?mt=8') F3.cool
            |  - Q&A app where you find out more about your friends by seeing their answers to questions you send their way.
        | Also developed a web-server for
        a(href='https://itunes.apple.com/us/app/bloom-fit/id1279250495?mt=8')  Bloom.fit
        |  iOS app. It is used for the following purposes:
        ul.descriptionBullets
          li
            | back up user data;
          li
            | data analysis for detecting hidden patterns in health data;
          li
            | generate recommendations that help to get rid of behavior that leaves users angry, worried or stressed.
        span.languages  (Swift, JS)
    li
      .iconArea
        include /includes/icons/mint
      .descriptionArea
        .titleBar
          h5.title Mint - Lead Senior iOS Software Engineer
          h6.dateRange 2015 - Jun 2017
        p.description
        | Developed an iPhone application
        a(href='https://itunes.apple.com/us/app/mint-meet-people-nearby/id1014457637')  Mint: Online Dating App & Chat
        | . Mint is a FREE dating app for chatting and meeting people nearby.
        | <br>
        | Also developed a bunch of in-house libraries and published them for internal release using
        a(href='https://cocoapods.org')  CocoaPods
        | :
        ul.descriptionBullets
          li
            a MINTActionSheet
            |  - an action sheet for iOS with support for custom views.
          li
            a MINTAppearanceKit
            |  - an iOS library that helps you to customize the appearance of your app.
          li
            a MINTAttributedLabel
            |  - a light-weight UILabel subclass that supports data detectors and links.
          li
            a MINTCircularProgressView
            |  - a circular progress view.
          li
            a MINTCollectionViewReorderableTripletLayout
            |  - a MINTCollectionViewTripletLayout subclass that supports reordering of cells.
          li
            a MINTCollectionViewStretchyHeaderLayout
            |  - a concrete layout that organizes items into a grid with optional stretchable header.
          li
            a MINTCollectionViewTripletLayout
            |  - A concrete layout that organizes items into a triplet with the first large top item.
          li
            a MINTHalo
            |  - an iOS library that provides a CAShapeLayer subclass that represents a
            a(href='https://en.wikipedia.org/wiki/Halo_(optical_phenomenon)')  halo
            |  and pulsing animation for the halo.
          li
            a MINTHierarchySearcher
            |  - a small utility class to go through the view controller hierarchy.
          li
            a MINTInAppPurchase
            |  - a light-weight iOS library for
            a(href='https://support.apple.com/en-us/HT202023')  In-App Purchases.
          li
            a MINTInstagramSDK
            |  - this library allows you to integrate
            a(href='https://www.instagram.com')  Instagram
            |  into your iOS app.
          li
            a MINTLocalization
            |  - a library that helps change app language without changing device language.
          li
            a MINTPageControl
            |  - drop-in replacement for UIPageControl that allows align the page indicators vertically.
          li
            a MINTPageViewController
            |  - a page view controller that lets the user navigate between pages of content.
          li
            a MINTScrollChief
            |  - a scroll chief prevents simultaneous scrolling multiple observing scroll views.
          li
            a MINTUnitConversion
            |  - extremely precise unit conversion library.
          li
            a MINTWeakTimer
            |  - a weak target timer for iOS.
        span.languages  (Objective-C, Swift)
    li
      .iconArea
        include /includes/icons/kidmastermind
      .descriptionArea
        .titleBar
          h5.title KidMastermind - Senior iOS Software Engineer
          h6.dateRange 2013 - 2014
        p.description
        | Developed parent's application and set of iPad games for early childhood education, and ported them on Android using
        a(href='http://www.apportable.com')  Apportable
        | :
        ul.descriptionBullets
          li
            a(href='https://itunes.apple.com/us/app/kidmastermind-university-for/id765248884')  KidMastermind University for Parents (v1.x)
            |  - parent's application that involves parents in their child’s development;
          li
            a(href='https://itunes.apple.com/us/app/color-fruits-learning-colors/id768068068')  Color fruits (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.ColorFruits')  Android)
            |  - teaches differentiation between 3-8 colors;
          li
            a(href='https://itunes.apple.com/us/app/missing-pieces-learning-facial/id768072111')  Missing Pieces (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.FixTheFace')  Android)
            |  - teaches identification 3-6 body parts;
          li
            a(href='https://itunes.apple.com/us/app/hungry-hungry-critters-differentiation/id768074205')  Hungry Hungry Critters (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.FeedTheAnimals')  Android)
            |  - teaches differentiation of objects by its assignments;
          li
            a(href='https://itunes.apple.com/us/app/kiddy-colored-shapes-learning/id768078680')  Kiddy Colored Shapes (iOS
            | ,
            a(href='https://play.google.com/store/apps/details?id=com.kidmastermind.ShapesAndColors')  Android)
            |  - teaches primary colors and shapes.
        | Also developed an internal SDK, which is used for the following purposes:
        ul.descriptionBullets
          li
            | interaction with the server API;
          li
            | access to the local database;
          li
            | set a limit on the time of the child's play.
        span.languages  (Objective-C, C++)
    li
      .iconArea
        include /includes/icons/itibo
      .descriptionArea
        .titleBar
          h5.title Itibo - iOS / Android Software Engineer
          h6.dateRange 2011 - 2012
        p.description
        | Developed iPad games such as
        a(href='https://itunes.apple.com/us/app/noteworks-music-theory-note/id546003758')  NoteWorks
        |  and
        a(href='https://itunes.apple.com/us/app/see-hear/id542365972')  See and Hear
        | , an iPhone  application
        a(href='https://itunes.apple.com/us/app/lights-all-night-2012/id582663403')  Lights All Night 2012
        |  and an Android application
        a(href='https://play.google.com/store/apps/details?id=com.azati.quit')  Quit Smoking
        |.
        |</br>
        span.languages  (Objective-C, Java, C++)
