header
  .centerBox
    h1.name Ruslan Skorb
    h3.bio
      a(href='https://en.wikipedia.org/wiki/Applied_science') Applied Scientist
      span.bullet •
      a(href='https://www.rsk-lab.com/') Entrepreneur
    ul
      a(href='#about')
        li About
      a(href='#experience')
        li Experience
      a(href='https://github.com/ruslanskorb')
        li GitHub
      a(href='http://www.linkedin.com/in/ruslanskorb')
        li LinkedIn
      a(href='#projects')
        li Projects
