// Colors
lightColor = LIGHT_ORANGE
baseColor = ORANGE
darkColor = DARK_ORANGE

section#about
  background-color baseColor
  color WHITE

  > .title
    title()
    color WHITE
    margin-bottom 20px
    @media phone
      font-size FONT_MEDIUM
      margin-bottom 15px

  .profile
    width 200px
    display block
    margin 0 auto 30px
    text-align center
    border-radius 50%
    padding 10px
    border 2px rgba(lightColor, 0.5) dashed
    @media phone
      width 140px
      margin-bottom 20px

  .longBio 
    text-indent 50px
    width 840px
    margin 0 auto
    font-size FONT_MEDIUM
    line-height 1.5
    padding 0 0 30px
    em, a
      color lightColor
    a
      transition color transitionSpeed
      &:hover
        color darkColor
    @media phone
      width 100%
      padding 0 30px 20px
      font-size FONT_SMALL
