@import '../mixins/squareTile'

// Colors
baseColor = DARK_BLUE
darkColor = BLUE

section#experience
  background-color baseColor
  color WHITE

  > .title
    title()
    color WHITE
    margin-bottom 10px
    @media phone
      font-size FONT_MEDIUM
      margin-bottom 15px
  .experienceList
    width 100%
    max-width 1120px
    margin 0 auto
    padding 0 30px 20px
    listPadding = 5px
    & > li
      overflow hidden
      border-radius 10px
      @media notPhone
        padding listPadding
        transition transform transitionSpeed, background-color transitionSpeed
        .descriptionArea a
          transition color transitionSpeed
          padding 0 0
          line-height 20px
        &:hover
          background-color mix(baseColor, darkColor)
          .descriptionArea a
            color darken(baseColor, 10%)
        &:nth-child(odd)
          &:hover
            transform translateX(5px)
          .iconArea
            float left
        &:nth-child(even)
          &:hover
            transform translateX(-5px)
          .iconArea
            float right

      iconAreaSize = 120px
      iconSize = 0.7
      .iconArea
        @media notPhone
          width iconAreaSize
          padding ((1 - iconSize)/2) * iconAreaSize
        @media phone
          width (iconAreaSize * iconSize)px
          margin 0 auto 20px
      .descriptionArea
        @media notPhone
          delta = iconAreaSize - 2*listPadding
          width "calc(100% - %s)"-delta
        @media phone
          width "calc(100% - %s)"
          padding-top 10px
        line-height 2
        a
          color darkColor
        .titleBar
          position relative
          padding-bottom 0.5%
          overflow hidden
          .title
            font-weight 700
            float left
            @media notPhone
              font-size FONT_MEDIUM
            @media phone
              font-size FONT_SMALL
          .dateRange
            padding-top 11px
            @media phone
              padding-top 0
            float right
            font-size FONT_SMALL
            @media phone
              font-size FONT_XSMALL
        .description, .descriptionBullets
          font-size FONT_SMALL
          @media phone
            font-size FONT_XSMALL
          line-height initial
          list-style disc
          list-style-position inside
        .languages
          color LIGHT_GRAY
          @media phone
            font-size FONT_XSMALL
      .descriptionArea
        float left
