@import '../global'

footer
  linkSeparationNotPhone = 30px
  linkSeparationPhone = 10px
  footerHeight = 30px
  footerTextColor = LIGHT_GRAY
  background-color BLUE_BLACK
  font-size FONT_SMALL
  color footerTextColor
  .links
    li
      @media notPhone
        display inline
        &:not(:first-child)
          padding-left linkSeparationNotPhone
      padding-top linkSeparationNotPhone
      @media phone
        padding-top linkSeparationPhone
      transition color transitionSpeed
      &:hover
        color WHITE
  @media notPhone
    height footerHeight * 3
    padding footerHeight footerHeight 0
    li + li:before
      color footerTextColor
      content "|"
      padding-right linkSeparationNotPhone
    .links
      float left
    .message
      float right
  @media phone
    padding-top 15px
    text-align center
    padding linkSeparationNotPhone 0
    li
      padding-bottom 5px
    .message
      padding linkSeparationNotPhone 0 linkSeparationNotPhone 0
  .message
    &:hover
      color WHITE
