header
  background-color rgb(241, 182, 5)
  height 100%
  overflow hidden
  text-align center

  boxWidth = 700px
  boxHeight = 500px
  .centerBox
    position absolute
    left 50%
    top 50%
    width boxWidth
    height boxHeight
    margin-left (boxWidth/-2)
    margin-top (boxHeight/-2.3)
    @media phone
      width phoneWidth
      margin-left (phoneWidth/-2)
      margin-top (boxHeight/-3)
    .name
      title()
      font-size FONT_XLARGE
      margin 4px 0
      line-height 1.3
      @media phone
        font-size FONT_MEDIUM
        margin 2px 0
    .bio
      color ORANGE
      font-size FONT_MEDIUM
      margin-bottom 30px
      line-height 1.3
      .bullet
        padding 0 10px
      @media phone
        font-size FONT_SMALL
        margin-bottom 20px
        .bullet
          padding 0 5px
    ul li
      font-size FONT_MEDIUM
      line-height 2em
      letter-spacing 2px
      color rgb(225, 225, 225)
      transition color transitionSpeed ease
      &:hover
        color LIGHT_BLACK
      @media phone
        font-size FONT_SMALL
  .arrow
    position absolute
    bottom 10px
    left 50%
    width 100px
    margin-left -50px
    font-size 50px
    cursor pointer
    color rgba(WHITE, 0.3)
    animation bounce 2s infinite
    transition color transitionSpeed ease
    &hover
      color rgba(WHITE, 0.8)
