section#experience
  h2.title Experience
  ol.experienceList
    li
      .iconArea
        include /includes/icons/rsk-lab
      .descriptionArea
        .titleBar
          h5.title R.SK Lab - Founder / Lead Senior iOS Software Engineer
          h6.dateRange Jul 2017 - Present
        p.description
          | Developing the following projects:
        ul.descriptionBullets
          li
            a(href='https://itunes.apple.com/us/app/rsk-lab/1439802667?mt=8') R[SK] - Learn and build with experts
            |  - An iOS app for teaching native iOS development.
          li
            a(href='https://rsk-lab.com/courses/8cd0d3db-177a-48e6-82b4-d4b0a23e949b') The Complete iOS App Development Guide
            |  - Native iOS app development online course.
          li
            a(href='https://itunes.apple.com/us/app/f3-cool/id1336087958?mt=8') F3: Find Friends Anonymous Q&A
            |  - A social discovery iOS application to make new friends and communicate with existing ones.
          li
            a(href='https://github.com/rsk-lab/RSKFoundation') RSKFoundation
            |  - An addition to the Foundation framework. Provides: a) protocols that define the roles of objects, b) types of objects that represent changes to a collection of objects.
          li
            a(href='https://github.com/rsk-lab/RSKCoreGraphics') RSKCoreGraphics
            |  - An addition to the CoreGraphics framework. Provides the type of object that represents a rectangle.
          li
            a(href='https://github.com/rsk-lab/RSKUIKit') RSKUIKit
            |  - An addition to the UIKit framework. Provides: a) protocols that define the roles of objects, b) the type of object that represents bounds of the view, c) the type of object that represents a frame of the view, d) the type of object that converts layout attributes of the view from .leftToRight user interface layout direction to the specified one.
          li
            a(href='https://github.com/rsk-lab/RSKImage') RSKImage
            |  - The type of object that represents an image. Provides the initializers to create an image with cgImage and cgPath that are created from the specified parameters, in particular, from color, linear gradient, size, corner radii.
          li
            a(href='https://github.com/rsk-lab/RSKBezierPath') RSKBezierPath
            |  - The type of object that represents a Bézier path. RSKBezierPath provides the initializer to create a Bézier path with a rectangular path rounded at the specified corners and with the specified corner radii.
          li
            a(href='https://github.com/rsk-lab/RSKInteractableLabel') RSKInteractableLabel
            |  - The type of object that represents an interactable label. Provides the ability to get the index of the character falling under the given point, expressed in the label's coordinate system.
          li
            a(href='https://github.com/rsk-lab/RSKSharedChannels') RSKSharedChannels
            |  - Swift web app that allows with minimal efforts to share any Slack channel on your workspace to another team's workspace.
          li
            a(href='https://twitter.com/rsk_lab') R.SK Lab micro-blog
            |  - Micro-blog about iOS app development using Swift.
          li
            a(href='https://rsk-lab.com') rsk-lab.com
            |  - Corporate web site for R.SK Lab.
          li
            a(href='https://dribbble.com/shots/6120154-R-SK-Lab-Logo') R.SK Lab Logo
            |  - Brand new logo for R.SK Lab.
          li
            a(href='https://dribbble.com/shots/6183194-R-SK-Lab-Business-Card') R.SK Lab Business Card
            |  - Corporate vertical business card for R.SK Lab.
          li
            a(href='https://user-images.githubusercontent.com/1182823/108632390-57ecd080-7477-11eb-8318-9dd03272814d.png') AR Snake Game
            |  - Augmented Reality game for iPhone.
          li
            a(href='https://dribbble.com/shots/4241214-The-Bloom-fit-app-Debut-Shot') Bloom.fit - Create Balanced Life
            |  - The MVP of a health & fitness iOS app that aims to help people understand themselves and bring calm, wellness and balance to their life.
          
        span.languages  (Swift, JavaScript)
    li
      .iconArea
        include /includes/icons/mint
      .descriptionArea
        .titleBar
          h5.title Mint - Lead Senior iOS Software Engineer
          h6.dateRange 2015 - Jun 2017
        p.description
          | Developed an iPhone application
          a(href='https://itunes.apple.com/us/app/mint-meet-people-nearby/id1014457637')  Mint: Online Dating App & Chat
          | . Mint is a FREE dating app for chatting and meeting people nearby.
          | <br>
          | Also developed a bunch of in-house libraries and published them for internal release using
          a(href='https://cocoapods.org')  CocoaPods
          | :
        ul.descriptionBullets
          li
            a MINTActionSheet
            |  - an action sheet for iOS with support for custom views.
          li
            a MINTAppearanceKit
            |  - an iOS library that helps you to customize the appearance of your app.
          li
            a MINTAttributedLabel
            |  - a light-weight UILabel subclass that supports data detectors and links.
          li
            a MINTCircularProgressView
            |  - a circular progress view.
          li
            a MINTCollectionViewReorderableTripletLayout
            |  - a MINTCollectionViewTripletLayout subclass that supports reordering of cells.
          li
            a MINTCollectionViewStretchyHeaderLayout
            |  - a concrete layout that organizes items into a grid with an optional stretchable header.
          li
            a MINTCollectionViewTripletLayout
            |  - A concrete layout that organizes items into a triplet with the first large top item.
          li
            a MINTHalo
            |  - an iOS library that provides a CAShapeLayer subclass that represents a
            a(href='https://en.wikipedia.org/wiki/Halo_(optical_phenomenon)')  halo
            |  and pulsing animation for the halo.
          li
            a MINTHierarchySearcher
            |  - a small utility class to go through the view controller hierarchy.
          li
            a MINTInAppPurchase
            |  - a light-weight iOS library for
            a(href='https://support.apple.com/en-us/HT202023')  In-App Purchases.
          li
            a MINTInstagramSDK
            |  - this library allows you to integrate
            a(href='https://www.instagram.com')  Instagram
            |  into your iOS app.
          li
            a MINTLocalization
            |  - a library that helps change app language without changing device language.
          li
            a MINTPageControl
            |  - drop-in replacement for UIPageControl that allows the page indicators to be aligned vertically.
          li
            a MINTPageViewController
            |  - a page view controller that lets the user navigate between pages of content.
          li
            a MINTScrollChief
            |  - a scroll chief that prevent simultaneous scrolling multiple observing scroll views.
          li
            a MINTUnitConversion
            |  - an extremely precise unit conversion library.
          li
            a MINTWeakTimer
            |  - a weak target timer for iOS.
        span.languages  (Objective-C, Swift)
    li
      .iconArea
        include /includes/icons/kidmastermind
      .descriptionArea
        .titleBar
          h5.title KidMastermind - Senior iOS Software Engineer
          h6.dateRange 2013 - 2014
        p.description
          | Developed a parent's application and a set of iPad games for early childhood education, and ported them on Android using
          a(href='http://www.apportable.com')  Apportable
          | :
        ul.descriptionBullets
          li
            a(href='https://user-images.githubusercontent.com/1182823/106137014-c9847800-6172-11eb-8e1b-020bd6d8aaf4.png')  KidMastermind University for Parents
            |  - an application that involves parents in their child’s development;
          li
            a(href='https://www.youtube.com/watch?v=wLTh5F-2rOY')  Color fruits
            |  - teaches differentiation between 3-8 colors;
          li
            a(href='https://www.youtube.com/watch?v=Bv6CqHIMGtE')  Missing Pieces
            |  - teaches identification of 3-6 body parts;
          li
            a(href='https://www.youtube.com/watch?v=f_nlE64c0Xg')  Hungry Hungry Critters
            |  - teaches differentiation of objects by its assignments;
          li
            a(href='https://www.youtube.com/watch?v=UUBRBBmjRg4')  Kiddy Colored Shapes
            |  - teaches primary colors and shapes.
        | Also developed an internal SDK, which is used for the following purposes:
        ul.descriptionBullets
          li
            | interaction with the server API;
          li
            | access to the local database;
          li
            | set a limit on the time of the child's play.
        span.languages  (Objective-C, C++)
    li
      .iconArea
        include /includes/icons/itibo
      .descriptionArea
        .titleBar
          h5.title Itibo - iOS / Android Software Engineer
          h6.dateRange 2011 - 2012
        p.description
          | Developed iPad games such as
          a(href='https://itunes.apple.com/us/app/noteworks-music-theory-note/id546003758')  NoteWorks
          |  and
          a(href='https://user-images.githubusercontent.com/1182823/106136749-64c91d80-6172-11eb-96e4-8a3aaf168604.jpeg')  See and Hear
          | , and an Android application
          a(href='https://user-images.githubusercontent.com/1182823/106136895-9d68f700-6172-11eb-8672-7ee5edba0409.png')  Quit Smoking
          |.
          |</br>
        span.languages  (Objective-C, Java, C++)
